#form{
    background-color: lightcyan;
    width: 40%;
    height: auto;
    margin: auto;
    padding: 20px;
}
label {
    font-weight: bold;
  }
  
  input[type=text], input[type=password] {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
  }
  #id{
    margin-left: 50px;
  }
  