body{
    margin: 0;
    padding: 0;

}
#btn{
    background-color: black;
    color: white;
    width: 20%;
    height: 30px;
}
input{
    width: 20%;
    height: 25px;
    background-color: aqua;
    
}
::placeholder{
    font-size: 17px;
    color: red;
}